@charset "UTF-8";
/* Import Colores*/
/* Paleta de colores */
/* Colores bases */
/* Otros colores */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'El Messiri', sans-serif; }

/* Estilo de la primer sección */
.BarraDepromocion {
  background-color: #54BAB9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.BarraDepromocion p {
  font-size: 1rem; }

.navSuperior {
  background-color: #54BAB9;
  text-align: center;
  font-size: 1.4rem;
  padding: 2px; }

/* Estilo Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 10vh;
  margin-top: 1rem; }

.logos {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 65px; }

.misakologo {
  margin: auto; }

a:hover {
  cursor: pointer; }

.iniciosesion {
  display: flex; }

.iniciosesion a {
  text-decoration: none; }

.iniciosesion img {
  padding: 0; }

.ulmenu {
  font-size: 15px; }

.cajamenu {
  display: none; }

.uno a:hover {
  border: 0.5px solid #000;
  border-radius: 10px;
  color: #000;
  padding: 5px;
  font-weight: bold;
  transition: scale(120%); }

.uno a {
  text-decoration: none;
  color: #000; }

/* Estilo main */
.contenedor {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-transform: uppercase;
  margin-top: 1.5rem; }

.contenedor a {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 35rem;
  /*margin-right:75rem;*/
  z-index: 1;
  text-decoration: none;
  color: #000;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #f0e9dd; }

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #54BAB9;
  width: 100%;
  height: 100vh;
  opacity: 0.2; }

/* Estilos Footer */
/* Estilos del navegador*/
.NavFooter ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
  font-size: 1rem; }

.NavFooter ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase; }

.NavFooter ul li a:hover {
  color: #fff; }

/* Estilos genericos*/
.FooterP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  background-color: #54BAB9;
  height: 15vh; }

/* Estilos del parrafo y logo */
.PFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.ImgFooter {
  width: 7%; }

.Copy {
  display: flex;
  align-items: center;
  gap: 0.2rem; }

.ImagenesRedes {
  display: flex;
  gap: 0.5rem; }

.ImgInstagram {
  width: 20%; }

/* Boton flotante Whatsapp */
.btn-flotante {
  position: fixed;
  bottom: 2.5rem;
  right: -25rem;
  transition: all 300ms ease 0ms;
  z-index: 1; }

.btn-flotante:hover {
  transform: translateY(-7px); }

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px; } }

.Whatsapp {
  width: 10%; }

/* Estilo Imagenes Section*/
.imgSection {
  width: 100%; }

.imgSection:hover {
  opacity: 0.70;
  box-shadow: 3px 3px #adadad; }

.ImagenesSection {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "pTitle pTitle pTitle" "img1 img2 img3" "img4 img5 img6";
  margin: 5rem 2rem;
  gap: 10px; }

.pTitle {
  grid-area: pTitle;
  text-align: center;
  overflow: hidden; }
  .pTitle p {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 3rem;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: initial;
    animation-direction: alternate;
    color: #adadad;
    text-shadow: -1px -1px 0px #adadad, 3px 3px 0px #E9DAC1, 6px 6px 0px #E9DAC1; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.img5 {
  grid-area: img5; }

.img6 {
  grid-area: img6; }

.articulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  gap: 3rem; }

.imagen {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.parrafoArticulo {
  text-transform: initial;
  letter-spacing: 0.09rem;
  margin-bottom: 2rem;
  font-size: 1.5rem; }

button {
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 12px;
  background: #000;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  position: relative; }

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, blue, #54BAB9, blue, #54BAB9, blue, #54BAB9, blue, #54BAB9);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 30s linear infinite; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

/* Media Queries pagina Mobile*/
@media only screen and (max-width: 900px) {
  .articulo {
    flex-direction: column;
    text-align: center; }
  .pTitle p {
    font-size: 1.9rem; }
  .PFooter {
    flex-direction: column;
    text-align: center; }
  .FooterP {
    height: 16vh; }
  .Copy {
    justify-content: center;
    gap: 0.5rem; }
    .Copy p {
      font-size: 16px; }
  .ImagenesRedes {
    display: flex;
    justify-content: center;
    text-align: center; }
  .btn-flotante {
    bottom: -0.5rem;
    right: -15rem; }
  .Whatsapp {
    width: 7%; }
  .cajaMenu {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5%;
    top: 8.5%;
    transform: scale(1);
    cursor: pointer; }
    .cajaMenu span {
      display: block;
      width: 100%;
      height: 2px;
      background: #000;
      margin-top: 6px;
      transform-origin: 0px 100%;
      transition: all 300ms; }
  .activecajaMenuLinea1 {
    transform: rotate(45deg) translate(-2px, 1px); }
  .activecajaMenuLinea3 {
    transform: rotate(-45deg) translate(-4px, 2px); }
  .activecajaMenuLinea2 {
    opacity: 0;
    margin-left: -30px; }
  .ulmenu {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 0 0 1rem;
    font-weight: bold; }
  .uno {
    list-style: none; }
  .misakologo a img {
    width: 90%; }
  .iniciosesion img {
    padding: 0;
    width: 80%; }
  .contenedor {
    height: 32vh;
    width: 100%; }
  .contenedor a {
    margin: 7rem 0 0 0; }
    .contenedor a p {
      font-size: 1rem; }
  .video {
    width: 100%; }
  .ImagenesBolsos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "bolso1 bolso2" "bolso3 bolso4"  "bolso5 bolso6" "bolso7 bolso8";
    gap: 3.7rem;
    margin: 2.5rem;
    margin-bottom: 5rem; }
  .bolso1 {
    grid-area: bolso1; }
  .bolso2 {
    grid-area: bolso2; }
  .bolso3 {
    grid-area: bolso3; }
  .bolso4 {
    grid-area: bolso4; }
  .bolso5 {
    grid-area: bolso5; }
  .bolso6 {
    grid-area: bolso6; }
  .bolso7 {
    grid-area: bolso7; }
  .bolso8 {
    grid-area: bolso8; }
  .imgDeBolsos {
    width: 80%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px; }
  .imgDeBolsos:hover {
    opacity: 0.8; } }

@media only screen and (min-width: 910px) {
  .cajamenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .ulmenu {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin: 0 0 0 1rem;
    font-weight: bold; }
  .uno {
    list-style: none; }
  .iniciosesion {
    display: inline-block;
    margin: 0 0 0 -8rem; }
    .iniciosesion img {
      padding: 0;
      width: 15%; }
  .logo {
    margin-left: 0px; }
  .ImagenesBolsos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "bolso1 bolso2 bolso3 bolso4" "bolso5 bolso6 bolso7 bolso8";
    gap: 2rem;
    margin: 4rem 2rem; }
  .imgDeBolsos {
    width: 90%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px; }
  .imgDeBolsos:hover {
    opacity: 0.8; } }

/* Estilo pagina Bolsos */
/* Navegador de busqueda */
.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.7rem; }

.container-1 {
  width: 100%;
  vertical-align: middle;
  position: relative; }

.container-1 input#search {
  width: 100%;
  height: 50px;
  background: #E9DAC1;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px; }

.container-1 input#search::-webkit-input-placeholder {
  color: #000;
  font-size: 1rem; }

.container-1 .icon {
  position: absolute;
  margin-left: 16px;
  margin-top: 15px;
  z-index: 2;
  color: #000; }

/* Seccion imagenes */
.bolso1 {
  grid-area: bolso1; }

.bolso2 {
  grid-area: bolso2; }

.bolso3 {
  grid-area: bolso3; }

.bolso4 {
  grid-area: bolso4; }

.bolso5 {
  grid-area: bolso5; }

.bolso6 {
  grid-area: bolso6; }

.bolso7 {
  grid-area: bolso7; }

.bolso8 {
  grid-area: bolso8; }

/* estilos del formulario*/
.formulario {
  width: 100%;
  padding: 2rem;
  text-align: center; }
  .formulario h1 {
    border-bottom: 1px solid #54BAB9;
    border-top: 1px solid #54BAB9;
    padding: 25px 0px 25px 0px;
    font-weight: normal;
    font-size: 25px;
    margin-top: 40px; }
  .formulario p {
    margin: 40px 0 20px 0; }
  .formulario label {
    display: block;
    text-align: left;
    margin: 20px 0 15px 0; }
  .formulario ul {
    list-style: none;
    margin-top: 50px;
    /*separación de li respecto a texto*/ }
  .formulario label strong, .formulario .formulario li select strong {
    color: red; }
  .formulario textarea {
    margin-top: 10px;
    color: #54BAB9;
    border-radius: 4px;
    resize: none; }
    .formulario textarea :hover {
      border-color: #54BAB9; }

.FormArea, .formulario li select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 10px; }

.FormArea:hover, .formulario li select:hover {
  border-color: #54BAB9; }

.FormArea:focus {
  border-color: #54BAB9;
  border-width: 1px; }

.botonesForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.FormButton {
  margin-top: 40px;
  width: 100px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase; }

.FormButton:hover {
  background-color: #54BAB9; }

/* Estilo pagina nosotros */
.ImgNosotros {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "TitleN1 TitleN1" "TitleN3 TitleN3";
  margin: 2rem;
  gap: 10px; }

.TitleN1 {
  grid-area: TitleN1;
  text-align: justify;
  overflow: hidden;
  margin-left: 5px; }
  .TitleN1 h2 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: #7b7b7b;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase; }
  .TitleN1 p {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: #7b7b7b;
    margin-top: 10px; }

.TitleN3 {
  grid-area: TitleN3;
  text-align: justify;
  overflow: hidden;
  margin-left: 5px; }
  .TitleN3 h2 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: #7b7b7b;
    text-align: center;
    text-transform: uppercase; }
  .TitleN3 p {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: #7b7b7b;
    margin-top: 10px; }

.imgN1 {
  text-align: center;
  margin: 3rem 0 0 0; }
  .imgN1 img {
    width: 100%;
    opacity: 0.9; }

.imgN3 {
  width: 100%;
  align-items: center;
  gap: 5px; }

.ImagenesIG {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "TitleIG1 TitleIG1 TitleIG1 TitleIG1" "imgIG1 imgIG2 imgIG3 imgIG4" "imgIG5 imgIG6 imgIG7 imgIG8";
  gap: 2rem;
  margin: 3rem 2rem; }

.TitleIG1 {
  grid-area: TitleIG1;
  text-align: center;
  overflow: hidden;
  color: #7b7b7b; }

.imgIG1 {
  grid-area: imgIG1; }

.imgIG2 {
  grid-area: imgIG2; }

.imgIG3 {
  grid-area: imgIG3; }

.imgIG4 {
  grid-area: imgIG4; }

.imgIG5 {
  grid-area: imgIG5; }

.imgIG6 {
  grid-area: imgIG6; }

.imgIG7 {
  grid-area: imgIG7; }

.imgIG8 {
  grid-area: imgIG8; }

.imgIG {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  .imgIG :hover {
    opacity: 0.8; }

.ImagenesTiendas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem 2rem; }
  .ImagenesTiendas h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2rem; }

.TitleT1 {
  text-align: center;
  overflow: hidden;
  color: #7b7b7b; }

.marcoCentral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  border: 2px solid;
  border-color: #54BAB9;
  padding: 1.5rem; }

.marco1 h1 {
  text-align: center; }

.marco1 h2 {
  text-align: center;
  color: #54BAB9;
  margin-bottom: 0.5rem;
  font-size: 2rem; }

.marco2 {
  margin: 1rem 0 1rem 0;
  text-align: center; }
  .marco2 h4 {
    color: #54BAB9;
    font-size: 1.5rem; }
  .marco2 p {
    margin: 0.5rem 0 0 0;
    font-size: 1rem; }

.Lista2 {
  margin: 1rem 0 0 0; }
  .Lista2 ul {
    list-style: none;
    padding: 1rem; }
  .Lista2 ol {
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.1rem;
    margin: 0.4rem 0 0.4rem 0; }
  .Lista2 h4 {
    text-align: center;
    color: #54BAB9;
    margin: 1.5rem 0 2.5rem 0;
    font-size: 1.5rem; }

.pOutlet {
  color: red;
  letter-spacing: 0.1rem;
  font-weight: bold; }

.pPrecios {
  font-weight: bold;
  font-size: 1.2rem; }
