/* Paleta de colores */

$color1 : #FBF8F1;
$color2 : #F7ECDE;
$color3 : #E9DAC1;
$color4 : #54BAB9;

/* Colores bases */

$colornegro : #000;
$colorblanco : #fff;
$colorgris : #adadad;
$colorgrisoscuro : #7b7b7b;

/* Otros colores */

$colora : #f0e9dd;
$colorb : red;
$colorc : blue;
$colord : deeppink;